<ul id="vehicles">
  <% @vehicles.each do |vehicle| %>
  <li>
    <article class="vehicle">
      <header>
        <h2><%= link_to(vehicle.make, vehicle) %></h2>
          <%= link_to vehicle_path(vehicle.id) do %> 
            <%= image_for(vehicle) %>
          <% end %>
      </header>
      <p>
        <%= truncate(vehicle.features, length: 40, separator: ' ') %>
      </p>
      <table>
        <tr>
          <th>Model:</th>
          <td><%= vehicle.model %></td>
        </tr>
        <tr>
          <th>Year:</th>
          <td><%= vehicle.year %></td>
        </tr>
        <tr>
          <th>Price:</th>
          <td><%= format_price(vehicle) %></td>
        </tr>
        <tr>
          <th>Miles:</th>
          <td><%= format_mileage(vehicle) %></td>
        </tr>
        <tr>
          <th>Color:</th>
          <td><%= vehicle.color %></td>
        </tr>
      </table>
      <footer>
      </footer>
    </article>
  </li>
<% end %>
</ul>