<article id="vehicle" class="vehicle">
    <header>
      <h2><%= @vehicles.make %></h2>
      <%= image_for(@vehicles) %>
    </header>
    <p>
      <%= @vehicles.features %>
    </p>
    <table>
      <tr>
        <th>Model:</th>
        <td><%= @vehicles.model %></td>
      </tr>
      <tr>
        <th>Year:</th>
        <td><%= @vehicles.year %></td>
      </tr>
      <tr>
        <th>Price:</th>
        <td><%= format_price(@vehicles) %></td>
      </tr>
      <tr>
        <th>Miles:</th>
        <td><%= format_mileage(@vehicles) %></td>
      </tr>
      <tr>
        <th>Color:</th>
        <td><%= @vehicles.color %></td>
      </tr>
    </table>

    <h3>Reviews</h3>
      <%= link_to pluralize(@vehicles.reviews.size, 'Review'), 
                  vehicle_reviews_path(@vehicles) %>
    
      
  </article>
  <br>

  <footer>
    <p>
      <%= link_to "Write Review", new_vehicle_review_path(@vehicles),
               class: 'button ok review' %>
    </p>
    <nav>
      <%= link_to 'Edit', edit_vehicle_path(@vehicles), class: 'button' %>
      <%= link_to 'Delete', @vehicles, 
                  class: 'button',
                  method: :delete, data: { confirm: 'Are you sure?' } %>
    </nav>
  </footer>
  