<article>
    <header>
      <h2><%= @vehicles.make %></h2>
      <%= image_for(@vehicles) %>
    </header>
    <p>
      <%= @vehicles.features %>
    </p>
    <table>
      <tr>
        <th>Model:</th>
        <td><%= @vehicles.model %></td>
      </tr>
      <tr>
        <th>Year:</th>
        <td><%= @vehicles.year %></td>
      </tr>
      <tr>
        <th>Price:</th>
        <td><%= format_price(@vehicles) %></td>
      </tr>
      <tr>
        <th>Miles:</th>
        <td><%= @vehicles.mileage %></td>
      </tr>
      <tr>
        <th>Color:</th>
        <td><%= @vehicles.color %></td>
      </tr>
    </table>
  </article>
  <br>
  <%= link_to "All Vehicles", root_path %> | 
  <%= link_to "Edit", edit_vehicle_path(@vehicles) %> |
  <%= link_to "Delete", vehicle_path(@vehicles), method: :delete, 
    data: {confirm: 'Are you sure?'} %>